@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

body {
  background-color: #eef2f7;
  font-family: "Poppins", sans-serif;
}
.comments {
  margin-top: 20px;
  width: 665px;
  margin: auto;
}

.comments-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-submit-field {
  position: relative;
  margin: 10px;
  width: 97%;
  display: table;
}

.comment-form-textarea {
  border: none;
  display: flex;
  background-color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;

  resize: none;
  padding: 12px 30px;
  width: 100%;
  height: 45px;
}

.comment-form-button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  position: absolute;
  right: 10px;
  top: 10px;
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment {
  display: flex;
  padding: 15px;
  margin: 10px;
  background-color: white;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.comment-text {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.dot {
  margin: 2px;
}

.reply {
  color: #6590ff;
}

.remove {
  color: #e33e38;
}
.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
